.central {
  width: 50%;
  height: 50%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  /*border: 1px solid black;*/
  text-align: center;
}

body {
  font-family: Calibri;
}

h1 {
  margin: 1em;
}

.wideTxtBox {
  width: 80%;
  padding: 1em;
}

.wideBtn {
  padding: 1em 4em;
  margin: 3em;
}

.info {
  font-style: italic;
}
